@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: #52525b;
}
#mealTitle{
    scrollbar-width: thin;
    scrollbar-color: black #94a3b8;
}
#mealAndList{
    scrollbar-width: thin;
    scrollbar-color: black #f1f5f9;
}