@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1{
        @apply text-xl font-medium text-center 
    }
}

html{
    background-color: #252627;
    /* background-color: #C97D60; */
}
#mealTitle{
    scrollbar-width: thin;
    scrollbar-color: black #94a3b8;
}
#mealAndList{
    scrollbar-width: thin;
    scrollbar-color: black #f1f5f9;
}