@tailwind base;
@tailwind components;
@tailwind utilities;

#mealTitle{
    scrollbar-width: thin;
    scrollbar-color: black #94a3b8;
}
#mealAndList{
    scrollbar-width: thin;
    scrollbar-color: black rgb(241 245 249);
}